.main-container {
    text-align: center;
}

table{
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 8px 12px;
    border: 1px solid black;
}

th {
    background-color: #d7cece;
}

.add-button {
    margin-top: 20px;
}