<div class="main-container">
    <h2>Kontakty: </h2>
    <table *ngIf="contacts">
        <thead>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Telefon</th>
            <th>Szczegóły</th>
            <th *ngIf="(isLoggedIn$ | async)">Edycja</th>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td>{{contact.firstName}}</td>
                <td>{{contact.lastName}}</td>
                <td>{{contact.phoneNumber}}</td>
                <td>
                    <button [routerLink]="['/contact', contact.contactId]">Szczegóły</button>
                </td>
                <td *ngIf="(isLoggedIn$ | async)">
                    <button [routerLink]="['/contact/edit', contact.contactId]">Edytuj</button>
                </td>
            </tr>
            <tr *ngIf="contacts.length === 0">
                <td colspan="4">Brak kontaktów</td>
            </tr>
        </tbody>
    </table>

    <button class="add-button" routerLink="/contact/add" *ngIf="(isLoggedIn$ | async)">Dodaj kontakt</button>
</div>
