<div class="container">
    <h2>Dodaj kontakt</h2>
    <form [formGroup]="addContactForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="firstName">Imię:</label>
            <input id="firstName" formControlName="firstName" />
            <div *ngIf="addContactForm.get('firstName')?.invalid && (addContactForm.get('firstName')?.dirty || addContactForm.get('firstName')?.touched)" class="error">
                <div *ngIf="addContactForm.get('firstName')?.errors?.['required']">Imię jest wymagane.</div>
                <div *ngIf="addContactForm.get('firstName')?.errors?.['maxlength']">Imię może mieć maksymalnie 20 znaków.</div>
            </div>
        </div>

        <div>
            <label for="lastName">Nazwisko:</label>
            <input id="lastName" formControlName="lastName" />
            <div *ngIf="addContactForm.get('lastName')?.invalid && (addContactForm.get('lastName')?.dirty || addContactForm.get('lastName')?.touched)" class="error">
                <div *ngIf="addContactForm.get('lastName')?.errors?.['required']">Nazwisko jest wymagane.</div>
                <div *ngIf="addContactForm.get('lastName')?.errors?.['maxlength']">Nazwisko może mieć maksymalnie 20 znaków.</div>
            </div>
        </div>
        
        <div>
            <label for="email">Email:</label>
            <input id="email" formControlName="email" />
            <div *ngIf="addContactForm.get('email')?.invalid && (addContactForm.get('email')?.dirty || addContactForm.get('email')?.touched)" class="error">
                <div *ngIf="addContactForm.get('email')?.errors?.['required']">Email jest wymagany.</div>
                <div *ngIf="addContactForm.get('email')?.errors?.['email']">Nieprawidłowy format.</div>
            </div>
        </div>

        <div>
            <label for="password">Hasło:</label>
            <input id="password" type="password" formControlName="password" />
            <div *ngIf="addContactForm.get('password')?.invalid && (addContactForm.get('password')?.dirty || addContactForm.get('password')?.touched)" class="error">
                <div *ngIf="addContactForm.get('password')?.errors?.['required']">Hasło jest wymagane.</div>
                <div *ngIf="addContactForm.get('password')?.errors?.['minlength']"> Hasło musi mieć co najmniej 8 znaków.</div>
                <div *ngIf="addContactForm.get('password')?.errors?.['pattern']">Hasło powinno zawierać małą, dużą literę oraz znak specjalny.</div>
            </div>
        </div>

        <div>
            <label for="phoneNumber">Numer telefonu:</label>
            <input id="phoneNumber" formControlName="phoneNumber" />
            <div *ngIf="addContactForm.get('phoneNumber')?.invalid && (addContactForm.get('phoneNumber')?.dirty || addContactForm.get('phoneNumber')?.touched)" class="error">
                <div *ngIf="addContactForm.get('phoneNumber')?.errors?.['required']">Numer telefonu jest wymagany.</div>
                <div *ngIf="addContactForm.get('phoneNumber')?.errors?.['pattern']">Nieprawidłowy format.</div>
            </div>
        </div>

         <div>
            <label for="dateOfBirth">Numer telefonu:</label>
            <input id="dateOfBirth" type="date" formControlName="dateOfBirth" />
            <div *ngIf="addContactForm.get('dateOfBirth')?.invalid && (addContactForm.get('dateOfBirth')?.dirty || addContactForm.get('dateOfBirth')?.touched)" class="error">
                <div *ngIf="addContactForm.get('dateOfBirth')?.errors?.['required']">Data urodzenia jest wymagana.</div>
            </div>
        </div>

        <div>
            <label for="selectedCategory">Wybierz kategorię:</label>
            <select id="selectedCategory" formControlName="selectedCategory" (change)="onCategoryChange()">
                <option *ngFor="let category of categories" [value]="category.categoryId">
                    {{ category.name }}
                </option>
            </select>
        </div>

        <div *ngIf="showSubcategorySelect">
            <label for="selectedSubcategory">Wybierz podkategorię:</label>
            <select id="selectedSubcategory" formControlName="selectedSubcategory">
                <option *ngFor="let subcategory of subcategories" [value]="subcategory.subcategoryId">
                    {{ subcategory.name }}
                </option>
            </select>
        </div>

        <div *ngIf="showSubcategoryInput">
            <label for="subcategory">Podkategoria:</label>
            <input id="subcategory" formControlName="subcategory" />
        </div>

        <button type="submit" [disabled]="addContactForm.invalid">Dodaj kontakt</button>
    </form>

    <button routerLink="/contacts">Przejdź do kontaktów</button>
    
</div>